

.navbar {
    
    padding: 2rem;
    border-bottom: 2px solid orangered;
opacity: 85%;
   background-color: rgb(19, 19, 19);
    
}



.navbar-collapse {
    align-items: center;
    justify-content: space-between;
    

}

@media screen and (max-width:767px) {
    .navbar-brand{
        display: none;
    }

}

.hero{
    background-image: url(/src/fondo_cv.png);
    min-height: 450px;
    color: white;
}



.navbar-nav a{
    color: white;
    
}
.navbar-nav a:hover{
    color: orangered;
    
}





section{
display: flex;
flex-direction:column;
align-items: center;
justify-content: center;
text-align: center;
}
h1{
    font-size: 2.5rem;

}

.hero-principal{
    padding: 3rem;

}
.hero-imagen-desarrollador{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin:20px; 
    border: solid 5px orangered;
}

#imagen_lenguajes img{
    width: 100%;
    height: 250px;
}



#contenedor_lenguajes{
    text-align: center;
}

body hr{
    
    border: solid 2px orangered;
    opacity: 70%;
}
.cards-wrapper{
    display: flex;
}

  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgb(19, 19, 19);
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
    border: solid 2px orangered;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }

  #contenedor_general_del_proyecto{
    background-color: white;
    border: 3px solid orangered;
    border-radius: 15px;
    
  }
  







